$mOrange: #FD451D; //main pop color
$mCreamsicle: #FD9170; //light orange in menu
$mDgray: #333333;
$mDbrick: #AE5447; //darker footer brick color
$mLbrick: #C98176; //lighter footer brick color
$cPageTitle: #9A280F;
$backgroundColor: #FEFCF9;
$bodyColor: #16202A;
$menuColor: #592022;
$popPurple: #9D1142;