.blog-feature {
font-size: 21px;
font-weight: bolder;
font-family: open sans;
}

.blog-padding {
  margin-bottom:50px;
}

.blog-img-block {
display: flex;
flex-direction: column;
align-items: center;
margin: 10px auto;

}

 #cocktail1 {
   max-width: 320px;
 }

#cocktail2 {
  max-width: 420px;
}

.blog-caption {
  margin-top:10px;
}
.coffee-img {
  max-width: 420px;
}
