<!-- Homepage Work content -->
<section id="tiger-work" class="color" data-color="white">
	<div class="fullwidth pb-5">
		<div class="subheader pad">
			case studies
		</div>
	</div>
	<div class="work-block container-lg pb-5">
			<div class="work-card">
				<div class="work-card-text">
					<div class="work-card-title">
						<a href="../work/signaturepick.html">Signature Pick</a>
					</div>
					<div class="project-tags">
						E-commerce experience and branding for contemporary handcrafted furniture
					</div>
				</div>
				<div class="home-img cardfill">
					<img src="/assets/images/sigpick-home2@2x.png" alt="" />
				</div>
			</div>
			<div class="work-card">
				<div class="work-card-text">
					<div class="work-card-title">
						<a href="../work/restart.html">Restart Partners</a>
					</div>
					<div class="project-tags">
						Website redesign for data-driven COVID-19 response 
					</div>
				</div>
				<div class="home-img cardfill">
					<img src="/assets/images/restart-home2@2x.png" alt="" />
				</div>
			</div>
			<div class="work-card">
				<div class="work-card-text">
					<div class="work-card-title">
						<a href="../work/arfilters.html">Spark AR</a>
					</div>
					<div class="project-tags">
						Augmented reality filters for Instagram
					</div>
				</div>
				<div class="home-img cardfill">
					<img src="/assets/images/arfilter3.png" alt="" />
				</div>
			</div>
		</div>
</section>