<section id="tiger-other" class="color" data-color="#333333">
	<div class="fullwidth">
		<div class="subheader pad">
			other work
		</div>
	</div>
 	<div class="container-lg pb-3">
		<div class="row pb-5">
			<div class="col-sm-6">
				<div class="home-card card">
					{% include cards/san-sake-cups.html %}
				</div>
			</div>
			<div class="col-sm-6">
			<div class="home-card card">
				{% include cards/to-go-games.html %}
			</div>
			</div>
		</div>

		<!-- <div class="row">
			<div class="col-sm-6">
				<div class="home-card card">
					{% include cards/san-sake-cups.html %}
				</div>
			</div>
			<div class="col-sm-6">
			</div>
		</div> -->
	</div>
</section>