<!-- Homepage Hero content -->
<section class="color" data-color="#F0EEE6" id="tiger-hero" class="page-width row">
	<div class="tiger-container container-lg">
		<div class="tiger-text">
			<div class="tiger-h1 pb-3">I love crafting thoughtful 
				products and experiences. 
			</div>
			<span class="tiger-body">Hello, I’m Mariko. I’m a multidisciplinary designer who loves creating for the digital, physical, and in-between spaces. Currently between Seattle and the Big Island.</span>
		</div>
		<div class="tiger-icon">
				<img src="/assets/images/home-banana.png" alt="" />
		</div>
		</div>
	</div>
</section>