<div class="row"><div class="col-sm-1"></div>
<div class="col-sm-5">
<h1 class="about-title">Hi, I’m Mariko&nbsp;Hirasawa</h1>
<br>
<div class="about">I am a multidisciplinary designer & visual artist of beautiful/funny/weird things. My background in industrial and graphic designx blends with a passion for exploring traditional craft mediums and new technology. I find a lot of inspiration in science, nature, food and travel. I consider myself a proud generalist and perpetual student.</div>
<br>
<div class="about sm-space">I am currently open to freelance opportunities and creative collaborations, reach out to me iam@marikohirasawa.com to connect.</div>
<br>
<li class="follow follow-abt">
  <div class="follow-icon">
    <a href="https://www.instagram.com/marikohirasawa">{% include ig-logo %}</a>
  </div>
  <div class="follow-icon">
    <a href="https://www.linkedin.com/in/mariko-hirasawa-5259a824">{% include li-logo %}</a>
  </div>
  <div class="follow-icon">
    <a href="mailto:iam@marikohirasawa.com?subject=feedback">{% include email %}</a>
  </div>
</li>
</div>

<div class="col-sm-5"></div>
<div class="col-sm-1"></div>
</div>
