<footer>
  <div class="footer-outer">
    <div class="footer-inner">
      <div class="page-width">
      <div class="nav foot-nav pad">
        <div class="footer-item" id="nav-title">mariko</div>
        <ul class="foots footer-item">
          <li><a class="footer-type" href="/">home</a></li>
          <li><a class="footer-type" href="/work.html">work</a></li>
          <li><a class="footer-type" href="/journal/index.html">journal</a></li>
          <li><a class="footer-type" href="/about.html">about</a></li>
          
        </ul>
        <div class="foot-sm footer-item">
          <li><a href="https://www.instagram.com/marikohirasawa">{% include ig-logo %}</a></li>
          <li><a href="https://www.linkedin.com/in/mariko-hirasawa-5259a824">{% include li-logo %}</a></li>
          <li><a href="mailto:iam@marikohirasawa.com?subject=feedback">{% include email1 %}</a></li>
        </div>
      </div>
      </div>
    </div>
    <div id="nav-copyright" class="d-flex footer-type justify-content-center">© 2020 by Mariko Hirasawa</div>
  </div>
</footer>
