<footer>
  <div class="footer">
    <div id="nav-title" class="d-flex justify-content-center">mariko</div>
    <ul class="foots">
      <a class="footer-nav" href="/"><li>home</li></a>
      <a class="footer-nav" href="/work.html"><li>work</li></a>
      <a class="footer-nav" href="/journal.html"><li>journal</li></a>
      <a class="footer-nav" href="/about.html"><li>about</li></a>
      <a class="footer-nav" href="/contact.html"><li>contact</li></a>
    </ul>
    <div id="nav-copyright" class="d-flex footer-nav justify-content-center">© 2020 BY MARIKO HIRASAWA</div>
  </div>
</footer>
