
  <div class="header">
  <div class="navigation pad d-flex justify-content-between align-items-center">
    <div id="logo">
    <a href="/"><img class="header-logo" src="/assets/images/mh-logo.png" height="60px"></a>
    </div>
    <div id="page-title">
      {{page.type}}
    </div>
    <div id="menuToggle">
      <!-- A fake / hidden checkbox is used as click reciever, so you can use the :checked selector on it.-->
      <input type="checkbox" />
      <!--hamburger spans-->
      <span></span>
      <span></span>

      <ul id="menu">
        <div class="container">
          <div class="row justify-content-evenly align-items-end">
            <div class="menu-navlg col">
              <a href="/"><li>home</li></a>
              <a href="/work.html"><li>work</li></a>
              <a href="/journal/index.html"><li>journal</li></a>
            </div>
            <div class="col">

            </div>
            <div class="col">
              <img src="/assets/images/cafe-2.png" height="100px">
            </div>
          </div>
          <div class="menu-navsm row justify-content-evenly align-items-end">
            <div class="col">
              <a href="/about.html"><li>About</li></a>
            </div>
            <div class="col">
              <a href="/contact.html"><li>Contact</li></a>
            </div>
            <div class="col">
              <div class="follow"><a href="https://www.instagram.com/marikohirasawa">{% include ig-logo %}</a></div>
            </div>
          </div>
        </div>
      </ul>

    </div>
  </div>
</div>
