<!-- Homepage "journal" content-->
<div class="home-small-items space row">

	<!-- Cocktail Set Card -->

	<div class="home-col col-sm-6">
			<div class="homecard card">
					<a href="journal/cocktailset.html">
						<div class="home-img cardfill half-content">
							<img src="/assets/images/cocktailhome@2x.png" alt="" />
						</div>
					</a>
					<div class="project-tags project-type">
						CERAMICS DESIGN / MOLD MAKING / WORK IN PROGRESS
					</div>
					<div class="project-title">
						<a href="journal/cocktailset.html">Cocktail Set</a>
					</div>
			</div>
	</div>

	<!-- Coffee Coffee Cup Card -->

	<div class="home-col col-sm-6">
				<div class="homecard card">
						<a href="journal/bioplastics.html">
							<div class="home-img cardfill half-content">
								<img src="/assets/images/coffee-home@2x.png" alt="" />
							</div>
						</a>
						<div class="project-tags project-type">
							EXPERIMENT / BIOPLASTICS
						</div>
						<div class="project-title">
							<a href="journal/bioplastics.html">Coffee Coffee Cup</a>
						</div>
				</div>
		</div>
</div>
