<!-- Homepage Work content -->

<!-- <div class="fullwidth"> -->
  <!-- <div class="subheader pad">
    digital design
  </div> -->

	<!-- Signature Pick Wide Card-->

	<!-- <a href="work/sigpick.html">
	  <div id="sigpick-home" class="feature fill">
				<img src="/assets/images/arfilter2.png" alt="" />
		</div>
	</a>
	<div class="pad">
		<a class="teaser-tile-inner" href="work/sigpick.html">
			<div class="teaser-tile-name project-tags project-type label">
				<span class="sr-only">Project Tags:</span>
				Augmented Reality
			</div>
			<div class="project-title">
				 Spark AR Filters
		 	</div>
		</a>
  </div>
</div> -->



	<!-- <div class="fullwidth">
	  <div class="subheader pad">
	    industrial design
	  </div>
	</div> -->
	<div class="home-small-items space row">

		<!-- To Go Games Card -->

	  <div class="home-col col-sm-6">
      <div class="homecard card">
  			<a class="teaser-tile-inner" href="work/arfilters.html">
  				<div class="teaser-tile-name project-tags project-type label">
  					<span class="sr-only">Project Tags:</span>
  					Augmented Reality
  				</div>
  				<div class="home-img cardfill half-content">
  					<img src="/assets/images/arfilter3.png" alt="" />
  				</div>
  				<div class="project-title">
  					Spark AR Filters
  				</div>
  			</a>
      </div>
  	</div>

		<!-- San Sake Card -->

	  <div class="home-col col-sm-6">
      <div class="homecard card">
        <a class="teaser-tile-inner" href="work/togogames.html">
          <div class="teaser-tile-name project-tags project-type label">
            <span class="sr-only">Project Tags:</span>
            Industrial Design
          </div>
          <div class="home-img cardfill half-content">
            <img src="/assets/images/togohome.png" alt="" />
          </div>
          <div class="project-title">
            To Go Games
          </div>
        </a>
      </div>
	  </div>

	</div>

  <div class="home-small-items space row">

    <!-- To Go Games Card -->

    <div class="home-col col-sm-6">
      <div class="homecard card">
        <a class="teaser-tile-inner" href="work/sansake.html">
          <div class="teaser-tile-name project-tags project-type label">
            <span class="sr-only">Project Tags:</span>
            Ceramics
          </div>
          <div class="home-img cardfill half-content">
            <img src="/assets/images/san-home@2x.png" alt="" />
          </div>
          <div class="project-title">
            San Sake Cups
          </div>
        </a>
      </div>
    </div>

    <!-- San Sake Card -->

    <div class="home-col col-sm-6">

    </div>

  </div>
