<button onclick="topFunction()" id="myBtn" title="Go to top"><img src="/assets/images/arrowup.svg">
</button>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="row">
        <div class="project-title project-pad">
          {{page.page-title}}
        </div>
        <div class="project-type project-pad sm-space">
          <h2>Wearable Travel Games</h2>
        </div>
      </div>
      <div class="row j5">
        <div class="col-sm-8">
          <h3 class="xs-space">Overview</h3>
          <div class="sm-space">To Go Games was a set of travel friendly games and accessories developed for my senior thesis project. Our class’ thesis theme was ‘game design’ and after the research portion of the project, I decided to focus on portable games for travel. I wanted to create analog games that were social, space conscience, and had flexible game play.<br><br>In 2020, I took photos of my senior project and finished the branding document to be more inline with the positioning documents I had created.</div>

        </div>
        <div class="col-sm-4 summary">
          <div>
            <h5>YEAR</h5>
            <h6>2012</h6>
          </div>
          <div>
            <h5>DURATION</h5>
            <h6>3.5 months</h6>
          </div>
          <div>
            <h5>TOOLS</h5>
            <h6>Adobe Illustrator</h6>

          </div>
        </div>
      </div>
      <div class="row">
        <h3 class="sm-space">Process Overview</h3>
        <div class="row">

            <h4>1. <a href="#Research">Research</a></h4>
            <h4>2. <a href="#Ideation">Ideation</a></h4>
            <h4>3. <a href="#PopRing">Pop Ring Process</a></h4>
            <h4>2. <a href="#Scarf">Scarf Process</a></h4>
            <h4>3. <a href="#Branding">Brand</a></h4>

        </div>
  </div>
  <div class="row j5" id="Research">
    <div class="head-3">
      <h3>1. Research</h3>
    </div>
    <div class="md-space">
      <h4 class="xs-space">Focus Areas</h4>
      <div></div>
    </div>
  </div>
  <div class="row j5" id="Ideation">
    <div class="head-3">
      <h3>2. Ideation</h3>
    </div>
    <div class="row sm-space">
      <div class="col-sm-4 half-content">
        <img src="/assets/images/togogames/Ideate1.png">
      </div>
      </div>
  </div>
  <div class="row j5" id="PopRing">
    <div class="head-3">
      <h3>3. Pop Ring Process</h3>
    </div>
    <div class="row sm-space">
      <div class="col-sm-4 half-content">
        <img src="/assets/images/togogames/Ring1.png">
      </div>
      <div class="col-sm-4 half-content">
        <img src="/assets/images/togogames/Ring2.png">
      </div>
      <div class="col-sm-4 half-content">
        <img src="/assets/images/togogames/Ring3.png">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 half-content">
        <img src="/assets/images/togogames/Ring4.png">
      </div>
    </div>
  </div>
  <div class="row j5" id="Scarf">
    <div class="head-3">
      <h3>4. Scarf Process</h3>
    </div>
    <div class="row">
      <div class="col-sm-4 half-content">
        <img src="/assets/images/togogames/Scarf1.png">
      </div>
      <div class="col-sm-4 half-content">
        <img src="/assets/images/togogames/Scarf2.png">
      </div>
      <div class="col-sm-4 half-content">
        <img src="/assets/images/togogames/Scarf3.png">
      </div>
    </div>
  </div>
  <div class="row j5" id="Branding">
    <div class="head-3">
      <h3>5. Branding</h3>
    </div>
    <div class="md-space">
      <h4 class="xs-space">Branding Guidelines</h4>
    </div>
    <div class="row align-items-center">
      <div class ="half-content xs-space">
        <img src="/assets/images/togogames/brand21-02.png">
      </div>
      <div class ="half-content xs-space">
        <img src="/assets/images/togogames/brand21-11.png">
      </div>
    </div>
    <div class="row align-items-center">
      <div class ="half-content xs-space">
        <img src="/assets/images/togogames/brand21-05.png">
      </div>
      <div class ="half-content xs-space">
        <img src="/assets/images/togogames/brand21-06.png">
      </div>
    </div>
    <div class="row align-items-center">
      <div class ="half-content xs-space">
        <img src="/assets/images/togogames/brand212-08.png">
      </div>
      <div class ="half-content xs-space">
        <img src="/assets/images/togogames/brand21-09.png">
      </div>
    </div>
  </div>

</div>
<div class="col-sm-2"></div>
</div>
