//colors
$mOrange: #FD451D; //main pop color
$mCreamsicle: #FD9170; //light orange in menu
$mDgray: #333333;
$mDbrick: #AE5447; //darker footer brick color
$mLbrick: #C98176; //lighter footer brick color
