

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  h1 {
    color: white;
  }
  
  body {
    background-color: #FEFCF9;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  /* svg {
    overflow: visible;
    height: 100%; */
    
    /* Fix Safari rendering bug */
    /* transform: translateZ(0);
  }
   */
  
  .home-animation {
    width:100%;
    height:400px;
    z-index: -100;
    
  }
  .sun-path {
    width: 60%;
  }
  #sun-path {
    stroke-width: 0;
    stroke: gray;
    fill:none;
    overflow-x: visible;

  }
 #solar {
   height: 200px;
   width: 200px;
 }

#path {
  fill:none;
}
.layers{
    position: absolute;
}
.hero {
    position: relative;
    min-height: 400px;
  }

  .hero::before {    
    content: "";
    background-image: url("/assets/images/clouds.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 100px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}
.content {
    position:static;
}