
#page-title {
  font-family: 'Open Sans';
  font-weight: 200;
  font-size: 1.8rem;
  letter-spacing: .5rem;
  color: #9A280F;
  padding-right: 5%;
  padding-bottom: .5rem;

}

#nav-title {
  font-size: 2.5rem;
  line-height: 1.8rem;
  font-family: 'Josefin Sans';
  color:#ffffff;

}

.about-header {
  font-family: Josefin Sans;
  font-weight: 500;
  font-size: 2.5em;
  position: relative;
  letter-spacing: .1em;
}

.scss-test {
  font-family: Open Sans;
  color:green;
  font-size: 32px;
}

.body-type {
  line-height: 2em;
  font-family: 'Space Grotesk', 'Open Sans';
  font-weight:300;
}

.sake-txt {
  font-size: .9em;
  line-height: 1.3em;
  font-family: 'Space Grotesk','Open Sans';
  font-weight:300;
}
