@import "constants";
@import "typography";
@import "menu";
@import "footer";
@import "journal";
@import "follow";

$backgroundColor: #FEFCF9;
$bodyColor: #16202A;

$bodyFont: 'Lato',-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$mOrange: #FD451D;
body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  display: flex;
  flex-direction: column;

}
html, body {
  height: 100%;
  font-size: 16px;
}
p {
  font-size: .95rem;
  line-height: 1.5rem;
  font-family: $bodyFont, 'Open Sans';
  font-weight: 400;
  letter-spacing: .05rem;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, button, textarea, p, th, td, a
{
  margin: 0px;
  padding: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}
h1 {
  font-size: 3.5em;
  font-family: Josefin Sans;
  text-transform: none;
}
h2 {
  font-size: 1em;
  font-family: Josefin Sans;
  text-transform: uppercase;
  letter-spacing: .1em;
}
h3 {
  font-family: Josefin Sans;
  font-weight: 500;
}
h4 {
  font-family: Josefin Sans;
  font-weight: 500;
}
h4 a {
  color: #2d3338;
}
h5 {
  font-family: Josefin Sans;
  font-size: .8rem;
  text-transform: uppercase;
}
h6 {
  font-size: 14px;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.content {
  flex: 1 0 auto;
}
.page-width {
  max-width: 1200px;
  margin: 0 auto;
}

/*.fun is the blue red gradient animation

 $gradient: linear-gradient(90deg, rgba(250,99,60,1) 0%, rgba(154,192,210,1) 40%, rgba(154,192,210,1) 60%, rgba(250,99,60,1) 100%);


.fun {
min-height: 100vh;
color: #333;
background: white;
background-size: 300%;
background-image: $gradient;
animation: bg-animation 90s infinite alternate-reverse;
}

@keyframes bg-animation {
  0% {background-position: left}
  50% {background-position: right}
  100% {background-position: left}
}

*/
.header {
  max-width: 1200px;
  margin: 1rem 0;
}
.header-logo {
  max-width: 7rem;
  height:auto;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.main-nav {
  padding: 10px;
}

.pad {
  padding: 10px 15px;
}
.xs-space {
  margin-bottom: 10px;
}
.sm-space {
  margin-bottom:20px;
}
.md-space {
  margin-bottom: 40px;
}
.space {
  margin-bottom: 50px;
}
.subheader {
  font-family: 'Open Sans','Josefin Sans';
  font-weight: 700;
  font-size: 2.7em;
  margin-bottom: -.5em;
  padding: 0px 15px;
  z-index: 2;
  position: relative;
  letter-spacing: .1em;
  white-space: nowrap;
}
.project-info {
  position:absolute;
  z-index: 3;
  padding-top: 300px !important;
}
.project-cat {
  display: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.project-tags {
  //display:inline;
  font-family: 'Open Sans', Space Grotesk;
  padding:10px 0px;
}
.project-type {
  text-transform: uppercase;
  letter-spacing: .1em;
}
.project-title {
  font-size: 2.6em;
  line-height: 1.2em;
  font-family: Josefin Sans;
  text-transform: none;

}
.project-title a {
text-decoration: none;
color:#333;
transition: 0.3s;
}

.project-title a:hover {
  color: #AE5447;}

.home-col {
  // flex: 0 0 auto;
  // width: 100%;
  // padding-right: calc(var(--bs-gutter-x));
  // padding-left: calc(var(--bs-gutter-x));
  padding-bottom: 3rem;
}
.home-small-items {
  // margin-left:10px;
  // margin-right:10px;

}
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    height:400px;
    object-fit: cover;
}

#sigpick-home img {
  object-position: 185px;
}
.spark-block {
  background-color: #ffffff;
  width:100%;
  padding:10px;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#sponge-text {
  min-width:230px;
  margin: auto 10px;
  padding-bottom: 20px;
}
.spark-text .project-tags{
  text-align: center;
}

@media (min-width: 1000px) {

.pad {
  padding:0px 60px;
}
.header {
  margin: 2rem 0;
}
.header-logo {
  max-width: 8rem;
  }
#page-title {
  font-size: 2.5rem;
  padding-bottom: .8rem;

  }
.spark-block {
  padding: 90px;
  flex-wrap: nowrap;
}
#sponge-text {
  min-width:230px;
  text-align: left;
  max-width: 80%;
  margin: 0px;
}
.spark-text .project-tags{
  text-align: left;
}
}


.feature {
  max-height: 450px;
  margin-bottom:15px;
}


.cardfill {
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: hidden;
}
.cardfill img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.about-content {
  margin-top:5em;
}
.fullwidth {
  margin-bottom:60px;
}
.home-img {
margin-bottom: 10px;
}

.homecard {
  background-color: transparent;
  border:none;
  max-width: 480px;
  margin: 0px auto;
}

.main-content img {
  width: 100%;
}
.half-content img {
  width:100%;
}
.wrapper {
  padding: 0px 10px;
}
.project-pad {
  padding: 0px 10px;
}
@media screen and (orientation:landscape) {
   #menu{
     padding-top:10%;
   }
   #menu-img {
     padding:0px;
     padding-left: 10px;
   }
   #menu .menu-navlg li {
     line-height: 1.5rem;
   }
}
@media screen and (orientation:landscape) and (max-width:600px){
  .menu-navlg {
    max-width: 30%;
  }
  #menu{
    padding-top:5%;
  }
}
@media (min-width:900px){
  .home-col {
    width:50%;
    // padding-bottom: 0px;
  }
  .project-title {
    font-size:3.5em;
  }
  .home-blurb {
    font-size: 1.5rem;
  }
  #sigpick-home img {
    object-position: 0px;
  }

  .wrapper {
    max-width:1000px;
    margin:0px auto;
    padding:0px auto;
  }

  }
@media (min-width:1000px){

  .home-small-items {

    max-width: 1000px;
    margin: 0px auto 50px auto;
}}

.sr-only {
    border: 0;
    //clip: rect(1px, 1px, 1px, 1px);
    //clip-path: inset(50%);
    //height: 1px;
    margin: -2px;
    overflow: hidden;
    //padding: 0;
    position: absolute !important;
    width: 0px;
    word-wrap: normal !important;
}
// .work-view__teaser-client,
// .teaser-tile-project__client-name {
//   transition: all 0.5s cubic-bezier(0.555, 0.205, 0.295, 0.975);
//   position: relative; }
//   .work-view__teaser-client:before,
//   .teaser-tile-project__client-name:before {
//     content: '';
//     display: block;
//     position: absolute;
//     left: 0;
//     top: 10px;
//     height: 2px;
//     width: 0;
//     background-color: #1638e2;
//     will-change: width;
//     transition: all 0.4s cubic-bezier(0.555, 0.205, 0.295, 0.975); }
//     [page-color='dark'] .work-view__teaser-client:before, [page-color='dark']
//     .teaser-tile-project__client-name:before {
//       background-color: #b8b8cd; }
//
// .teaser-tile-project__client-name:before {
//   top: 20px; }
//
// .work-view__teaser-inner:hover .work-view__teaser-client,
// .work-view__teaser-inner:hover .teaser-tile-project__client-name, .work-view__teaser-inner:focus .work-view__teaser-client,
// .work-view__teaser-inner:focus .teaser-tile-project__client-name,
// .teaser-tile-project__inner:hover .work-view__teaser-client,
// .teaser-tile-project__inner:hover .teaser-tile-project__client-name,
// .teaser-tile-project__inner:focus .work-view__teaser-client,
// .teaser-tile-project__inner:focus .teaser-tile-project__client-name {
//   padding-left: 54px; }
//   .work-view__teaser-inner:hover .work-view__teaser-client:before,
//   .work-view__teaser-inner:hover .teaser-tile-project__client-name:before, .work-view__teaser-inner:focus .work-view__teaser-client:before,
//   .work-view__teaser-inner:focus .teaser-tile-project__client-name:before,
//   .teaser-tile-project__inner:hover .work-view__teaser-client:before,
//   .teaser-tile-project__inner:hover .teaser-tile-project__client-name:before,
//   .teaser-tile-project__inner:focus .work-view__teaser-client:before,
//   .teaser-tile-project__inner:focus .teaser-tile-project__client-name:before {
//     width: 300px;
//     transition: all 0.5s cubic-bezier(0.555, 0.205, 0.295, 0.975) 0.02s; }

//remove link underlines
.teaser-tile-inner {
      text-decoration: none;
}
.teaser-tile-inner .project-tags {
        text-transform: uppercase;
  color:$mDgray;
}
.teaser-tile-inner .project-title {
  color:$mDgray;
}
.teaser-tile-name {
      transition: all 0.5s cubic-bezier(0.555, 0.205, 0.295, 0.975);
      position: relative; }

.teaser-tile-name:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 10px;
      height: 2px;
      width: 0;
      background-color: #1638e2;
      will-change: width;
      transition: all 0.4s cubic-bezier(0.555, 0.205, 0.295, 0.975); }

      .teaser-tile-name:before {
          background-color: #b8b8cd; }

.teaser-tile-name:before {
      top: 20px; }

.teaser-tile-inner:hover .teaser-tile-name,
.teaser-tile-inner:focus .teaser-tile--name {
      padding-left: 50px; }

.teaser-tile-inner:hover .teaser-tile-name:before,
.teaser-tile-inner:focus .teaser-tile-name:before {
      width: 40px;
      background-color: $mOrange; //line color
      transition: all 0.5s cubic-bezier(0.555, 0.205, 0.295, 0.975) 0.02s; }

.teaser-tile-inner:hover .project-title, .teaser-tile-inner:focus .project-title {
      color:$mDbrick;
      transition: all 0.5s cubic-bezier(0.555, 0.205, 0.295, 0.975) 0.02s;
}
.blog-body {
  height: auto;
}
.home-blurb {
  font-family: Lora;
  max-width: 500px;
  margin: 0px auto;
  min-height: 200px;
  padding-top:50px;
  padding-bottom: 50px;
  font-weight: 700;
color: #DE2427;
font-size: 1.2rem;
}

.porthome-blurb {
  font-family: Lora;
  max-width: 850px;
  margin: 0px auto;
  min-height: 200px;
  padding-top:100px;
  padding-bottom: 100px;
  font-weight: 700;
color: #DE2427;
font-size: 1.5rem;
}



.spark-imgs {

margin: 0 auto;
display: flex;
flex-wrap: nowrap;
align-items: center;
justify-content: center;
}
.spark-imgs img {
  width: auto;
  max-height: 301px;
}
.j5 {
  padding: 3rem 0rem;

}

.head-3 {
  //padding-bottom: .5rem;
  margin-bottom: 3rem;
  // border-bottom: black 3px;
  // border-style: solid;
}
.head-3 > h3 {
  border-bottom: black 3px;
border-bottom-style: none;
border-style: solid;
padding-bottom: .8rem;
}
.summary {
  background-color: #F9EFEB;
display: flex;
flex-direction: column;
justify-content: center;
padding: 5%;
}

.summary > * {
  margin: 15px 0;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 180px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #C3C3C3; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  height: 50px;
width: 50px;

}

#myBtn:hover {
  background-color: $mOrange; /* Add a dark-grey background on hover */
}
#myBtn img {
  vertical-align: text-top;
}
.white {
  background-color:#ffffff;
}

.milk > .row {
  margin-left: 0px;
  margin-right: 0px;
}
.j5 > .row {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.process-row > h4 {
  margin-bottom:.8rem;
}
.norpad {
  padding-right:0px;
}
.nolpad {
  padding-left:0px;
}
// .j5 h4 {
//   padding-bottom: 10px;
// }
.center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#id-section {
  margin-top:100px;
}
