<!-- <section id='home-journal' class="color" data-color="rgb(38, 38, 38)"> -->
<!-- Homepage "journal" content-->
<div class="journal-block container pb-5">
	<!-- Hawaiian Plants Card -->
	<div class="journal-card home-card">
		<a href="hawaiianplants.html">
			<div class="home-img cardfill half-content">
				<img src="/assets/images/journal/hawaiianplants/journal-hawaiian-preview.png" alt="" />
			</div>
		</a>
		<div class="journal-text">
			<div class="journal-date">
				8/22/2022
			</div>
			<div class="journal-title">
				<a href="hawaiianplants.html"><h2>Puna Plants</h2></a>
			</div>
			<div class="journal-blurb">
				<p>Coming soon...</p>
			</div>
			<div class="work-btn">
				<a href="hawaiianplants.html">
					<span class="work-btn-txt">
						READ MORE →
					</span>
				</a>
			</div>
			
		</div>
	</div>
	<!-- Cocktail Set Card -->
		<div class="journal-card home-card">
			<a href="cocktailset.html">
				<div class="home-img cardfill half-content">
					<img src="/assets/images/journal/cocktail/journal-cocktail-preview.png" alt="" />
				</div>
			</a>
			<div class="journal-text">
				<div class="journal-date">
					8/12/2021
				</div>
				<div class="journal-title">
					<a href="cocktailset.html"><h2>Cocktail Set</h2></a>
				</div>
				<div class="journal-blurb">
					<p>While socially distancing in 2020, I dreamed of when we could once again gather and share good drinks with friends. With this aspiration in mind, I decided to create a cocktail set in preparation for that day...</p>
				</div>
				<div class="work-btn">
					<a href="cocktailset.html">
						<span class="work-btn-txt">
							READ MORE →
						</span>
					</a>
				</div>
			</div>
		</div>

	<!-- Coffee Coffee Cup Card -->

		<div class="journal-card home-card">
			<a href="bioplastics.html">
				<div class="home-img cardfill half-content">
					<img src="/assets/images/journal/coffee/journal-coffee-preview.png" alt="" />
				</div>
			</a>
			<div class="journal-text">
				<div class="journal-date">
					6/23/2021
				</div>
				<div class="journal-title">
					<a href="bioplastics.html"><h2>Coffee Coffee Cup</h2></a>
				</div>
				<div class="journal-blurb">
					<p>Recently I was introduced to the work of Materiom, who are creating “nature’s recipe book”, compiling open source recipes for materials made from abundant natural ingredients...</p>
				</div>
				<div class="work-btn">
					<a href="bioplastics.html">
						<span class="work-btn-txt">
							READ MORE →
						</span>
					</a>
				</div>
				
			</div>
		</div>

		
</div>
