<!-- Homepage Work content -->
<section id="work-main" class="color" data-color="white">
 	<div class="page-width pb-3">
		<div class="row space">
			<div class="col-sm-6">
				<div class="home-card card">
					{% include cards/project-20.html %}
				</div>
			</div>
			<div class="col-sm-6">
				<div class="home-card card">
					{% include cards/san-sake-cups.html %}
				</div>
			</div>
		</div>

		<div class="row ">
			<div class="col-sm-6">
				<div class="home-card card">
					{% include cards/spark-ar-card.html %}
				</div>
			</div>
			<div class="col-sm-6">
				<div class="home-card card">
					{% include cards/to-go-games.html %}
				</div>
			</div>
		</div>
	</div>
</section>