<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	{% include head.html %}
  <body>

<div class="content">
			<div class="page-width">
				{% include header.html %}
			</div>
<div class="sm-space"></div>
			<!-- Homepage "journal" content-->
			<div class="home-small-items row">

				<!-- Cocktail Set Card -->

				<div class="home-col col-sm-6">
						<div class="homecard card">
								<a href="cocktailset.html">
									<div class="home-img cardfill">
										<img src="/assets/images/cocktailhome@2x.png" alt="" />
									</div>
								</a>
								<div class="project-tags project-type">
									CERAMICS DESIGN / MOLD MAKING / WORK IN PROGRESS
								</div>
								<div class="project-title">
									<a href="cocktailset.html">Cocktail Set</a>
								</div>
						</div>
				</div>

				<!-- Coffee Coffee Cup Card -->

				<div class="home-col col-sm-6">
							<div class="homecard card">
									<a href="bioplastics.html">
										<div class="home-img cardfill">
											<img src="/assets/images/coffee-home@2x.png" alt="" />
										</div>
									</a>
									<div class="project-tags project-type">
										EXPERIMENT / BIOPLASTICS
									</div>
									<div class="project-title">
										<a href="bioplastics.html">Coffee Coffee Cup</a>
									</div>
							</div>
					</div>
			</div>

			{{ content }}
</div>
			{% include footer.html %}
<!-- /.container -->





      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      {% include scripts.html %}
	</body>
</html>
