<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	{% include head.html %}
	<body>
		<div class="content">
			<div class="page-width row">
				{% include header.html %}
			</div>
			<div class="page-width row">
				{% include section/home-hero.html %}
			</div>
			<div class="page-width">
				{% include section/home-work.html %}
			</div>
			<div class="fullwidth">
				<div class="subheader pad">
			    	journal
				</div>
			</div>
			<div class="page-width">
				{% include section/home-journal.html %}
			</div>
			{{ content }}
		</div>
<!-- /.container -->

			{% include footer.html %}



      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      {% include scripts.html %}
	</body>
</html>
