<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <div class="hero">
        <div class="home-animation layers">
            <div class="sun-path">
                <svg width="100%" height="50%" viewBox="0 -100 1150 500" preserveAspectRatio="true">
                    <path d="M934 195C934 195 811 107 653 50C495 -7.00003 70.5 -45.5 -25 121.692" id="path"/>
                    <g id="sun">
                        <linearGradient spreadMethod="pad" id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                           <stop offset="0%" style="stop-color:rgb(255, 255, 255);stop-opacity:1;" />
                           <stop offset="100%" style="stop-color:rgb(221, 67, 0);stop-opacity:1;" />
                        </linearGradient>
                        <circle fill="url(#gradient)" cx="100" cy="100" r="200" id="sunny"/>	
                    </g>
                </svg>
            </div>   
        </div>
        <div class="home-small-items row layers">          
            <div class="home-col col-sm-6 home-blurb">
              <div>Hello, I’m a multi-disciplinary designer with a passion for crafting thoughtful products + experiences.</div>
            </div>
            <div class="home-col col-sm-6">
            </div>
        </div>
        <div class="wrapper layers">
            <div class="header d-flex justify-content-between align-items-center">
              <div id="logo">
                <a href="/"><img class="header-logo" src="/assets/images/mh-logo.png" height="60px"></a>
              </div>
              <div id="menuToggle">
                <!-- A fake / hidden checkbox is used as click reciever, so you can use the :checked selector on it.-->
                <input type="checkbox" />
                <!--hamburger spans-->
                <span></span>
                <span></span>
          
                <ul id="menu">
                  <div class="container">
                    <div class="row justify-content-evenly align-items-end">
                      <div class="col-2"></div>
                      <div class="menu-navlg col-4">
                        <a href="/"><li>home</li></a>
                        <a href="/work/index.html"><li>work</li></a>
                        <a href="/journal/index.html"><li>journal</li></a>
                        <a href="/about.html"><li>about</li></a>
                        <li class="follow">
                          <div class="follow-icon">
                            <a href="https://www.instagram.com/marikohirasawa">{% include ig-logo %}</a>
                          </div>
                          <div class="follow-icon">
                            <a href="https://www.linkedin.com/in/mariko-hirasawa-5259a824">{% include li-logo %}</a>
                          </div>
                          <div class="follow-icon">
                            <a href="mailto:iam@marikohirasawa.com?subject=feedback">{% include email1 %}</a>
                          </div>
                        </li>
                      </div>
                      <div id="menu-img" class="col-4 half-content">
                        <!-- <img src="/assets/images/cafe-2.png"> -->
                      </div>
                      <div class="col-2"></div>
                    </div>
                  </div>
                </ul>
              </div>
            </div>
          </div>
          </div>
          {% include footer.html %}



      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      {% include scripts.html %}
        
</body>
</html>