<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	{% include head.html %}
  <body style="background-image: linear-gradient(rgba(207,196,194,1),rgba(207,196,194,1),rgba(255,0,0,0)); background-repeat:no-repeat;";>

		<div class="content moonjelly">
			<div class="page-width">
				{% include header.html %}
			</div>
<!-- Homepage Feature -->
			<div id="home-hero" class="page-width row">
				{% include section/home-hero.html %}
			</div>
			<!-- Homepage Work content -->

			{% include section/moonjelly-work.html %}


			{{ content }}
		</div>
<!-- /.container -->

			{% include footer.html %}



      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      {% include scripts.html %}
	</body>
</html>
